body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: white;
    padding: 20px;
}

h1 {
    color: red;
    margin: 0;
}

.btn-info {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #f4f4f4;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}



nav ul li {
    border: 2px solid pink; /* Bordure rose */
    border-radius: 50%; /* Forme circulaire */
    width: 100px; /* Largeur de la bulle */
    height: 100px; /* Hauteur de la bulle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Espacement entre les bulles */
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}


main {
    padding: 20px;
}

.intro img {
    width: 50%;
    max-width: 400px;
}

.content h2 {
    color: orange;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.images img {
    width: 200px;
    height: auto;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-flex h1 {
    margin: 0;
}

.header-flex .btn-info {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
